<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Reservation Details</title>
</head>

<body>
	<h2>Flight Details</h2>
	<pre>
	Reservation Id : <td th:text="${reservation.id}"></td>
	Checked In : <td th:text="${reservation.checkedIn}"></td>
	Number of Bags : <td th:text="${reservation.numOfBags}"></td>
	<br>
	Passenger : <td th:text="${reservation.passenger}"></td>
	<br>
	Flight : <td th:text="${reservation.flight}"></td>
	</pre>
</body>

</html>